sentimentanalyser.json
[{"id":"4168aa32.5b32a4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4a6cfa61.df5524","type":"ui_dropdown","z":"4168aa32.5b32a4","name":"","label":"Employee","tooltip":"","place":"Select option","group":"aaa13749.2604f8","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Monkey D Luffy","value":"Monkey D Luffy","type":"str"},{"label":"Itachi Uchiha","value":"Itachi Uchiha","type":"str"},{"label":"Gojo Satorou","value":"Gojo Satorou","type":"str"},{"label":"Roy Mustang","value":"Roy Mustang","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":120,"y":60,"wires":[["4abe415a.d2dc6","7c894593.b7b7ec"]]},{"id":"4abe415a.d2dc6","type":"cloudant in","z":"4168aa32.5b32a4","name":"","cloudant":"","database":"employee_feedback","service":"node-red-rvoiy-2021--cloudant-1627472903119-14450","search":"_id_","design":"","index":"","x":480,"y":140,"wires":[["4461c36.815743c","6c75f0ef.e4e66"]]},{"id":"7c894593.b7b7ec","type":"debug","z":"4168aa32.5b32a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":250,"y":200,"wires":[]},{"id":"4461c36.815743c","type":"debug","z":"4168aa32.5b32a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":160,"wires":[]},{"id":"6c75f0ef.e4e66","type":"function","z":"4168aa32.5b32a4","name":"parse DB op","func":"msg.payload=msg.payload.conv\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":280,"wires":[["df782151.308c7","efd7930d.69c9c"]]},{"id":"df782151.308c7","type":"debug","z":"4168aa32.5b32a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":360,"wires":[]},{"id":"efd7930d.69c9c","type":"watson-tone-analyzer-v3","z":"4168aa32.5b32a4","name":"","tones":"all","sentences":"true","contentType":"false","tone-method":"customerEngagementTone","interface-version":"2017-09-21","inputlang":"en","service-endpoint":"https://api.eu-gb.tone-analyzer.watson.cloud.ibm.com/instances/23fcd900-f8cf-498b-90fd-636a7823b382","x":800,"y":220,"wires":[["a3f108bb.dd51e8","2b604d94.b99ff2"]]},{"id":"a3f108bb.dd51e8","type":"debug","z":"4168aa32.5b32a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1030,"y":140,"wires":[]},{"id":"2b604d94.b99ff2","type":"function","z":"4168aa32.5b32a4","name":"","func":"var p=0\nvar ex=0\nvar fr =0;\nvar ip=0;\nvar s =0;\nvar sa=0;\nvar sy=0\nvar n=\"\"\nvar ut=msg.response.utterances_tone;\n//msg.payload=tone.length\nfor (i=0;i<ut.length;i++){\n    var tone=msg.response.utterances_tone[i].tones.length\n    for (j=0;j<tone;j++){\n        n=msg.response.utterances_tone[i].tones[j].tone_name;\n       if(msg.response.utterances_tone[i].tones[j].tone_name==\"Polite\"){\n           p=p+1\n       }\n       else if(msg.response.utterances_tone[i].tones[j].tone_name==\"Sad\"){\n           s=s+1\n       }\n       else if(msg.response.utterances_tone[i].tones[j].tone_name==\"Frustrated\"){\n           fr=fr+1\n       }\n       else if(msg.response.utterances_tone[i].tones[j].tone_name==\"Impolite\"){\n           ip=ip+1\n       }\n       else if(msg.response.utterances_tone[i].tones[j].tone_name==\"Satisfied\"){\n           sa=sa+1\n       }\n        else if(msg.response.utterances_tone[i].tones[j].tone_name==\"Sympathetic\"){\n           sy=sy+1\n       }\n        \n    }\n}//\n// \"data\": [ [p], [s], [fr],[ip],[sa],[sy]],\n//msg.payload=n\nmsg.payload=[{\"series\":[\"Data\"],\n    \"data\": [ p, s, fr,ip,sa,sy],\n    \"labels\": [ \"polite\",\"sad\", \"frustrated\",\"impolite\",\"satisfied\",\"sympathetic\"]}]\n//msg.payload={\"polite\":p,\"sad\":s,\"frustrated\":fr,\"impolite\":ip,\"satisfied\":sa,\"sympathetic\":sy}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":320,"wires":[["d35d4f7f.08f33","6c3556bc.399de8","4b2f92aa.2a04ac"]]},{"id":"d35d4f7f.08f33","type":"debug","z":"4168aa32.5b32a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1150,"y":360,"wires":[]},{"id":"6c3556bc.399de8","type":"ui_chart","z":"4168aa32.5b32a4","name":"","group":"beb4c5a7.ff0418","order":1,"width":10,"height":10,"label":"Sentiment Analysis","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1150,"y":440,"wires":[[]]},{"id":"4b2f92aa.2a04ac","type":"function","z":"4168aa32.5b32a4","name":"","func":"msg.payload=msg.response.utterances_tone\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":520,"wires":[["53ac0074.71acb"]]},{"id":"53ac0074.71acb","type":"cloudant out","z":"4168aa32.5b32a4","name":"","cloudant":"","database":"sentiment","service":"node-red-rvoiy-2021--cloudant-1627472903119-14450","payonly":false,"operation":"insert","x":1160,"y":600,"wires":[]},{"id":"aaa13749.2604f8","type":"ui_group","name":"Select Employee","tab":"4764503e.453ce","order":1,"disp":true,"width":"6","collapse":false},{"id":"beb4c5a7.ff0418","type":"ui_group","name":"Sentiment of Conversation","tab":"e7a7cd9.4d96e3","order":2,"disp":true,"width":10,"collapse":false},{"id":"4764503e.453ce","type":"ui_tab","name":"Sentiment Analyser","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"e7a7cd9.4d96e3","type":"ui_tab","name":"Sentimental Analysis","icon":"dashboard","order":5,"disabled":false,"hidden":false}]